body{
    margin:0px;
}
.container{
    display:grid;
    grid-template-columns:repeat(9, 1fr);
    grid-template-rows:repeat(89, 50px);
    margin:0px;
}
.logo{
    display:flex;
    flex-flow:column;
    justify-content:center;
}
    .logo p {
        margin-left: 10%;
        font-size: 25px;
        color: rgb(255, 255, 255);
    }
.topNav {
    grid-column: span 8;
}
    .topNav ul {
        display: flex;
        justify-content: flex-end;
    }
        .topNav ul li {
            list-style: none;
            justify-content: center;
            flex-basis: 10%;
        }

.tuscanyJumbotron {
    grid-column: span 7;
    grid-row: span 8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map{
    grid-column:span 2;
    grid-row:span 8;
}
.locations{
    grid-column:span 9;
    grid-row:span 3;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column;
}
.locationOne{
    grid-column:span 6;
    grid-row:span 7;
    display:flex;
    justify-content:center;
    flex-flow:column;
    margin-left:10%;
    max-height:300px;
    min-width:500px;
}
    .locationOne h1 {
        margin-bottom: 0px;
        font-size: 25px;
    }
    .locationOne p {
        
        font-size: 17px;
    }
.locationsImage {
    grid-column: span 3;
    grid-row: span 7;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .locationsImage img {
        height: 245px;
        width:90%;
    }



.locationTwo {
    grid-column: span 6;
    grid-row: span 6;
    display: flex;
    justify-content: center;
    flex-flow: column;
    max-height: 300px;
    min-width: 500px;
}

    .locationTwo h1 {
        margin-bottom: 0px;
        font-size: 25px;
        margin-right: 10%;
    }

    .locationTwo p {
        font-size: 17px;
        margin-right: 10%;
    }

.locationsImageTwo {
    grid-column: span 3;
    grid-row: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .locationsImageTwo img {
        height: 245px;
        width: 90%;
    }
.amenities {
    grid-column: span 9;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.amenities p{
    margin-bottom:3%;
}

.amenitiesButton1{
    grid-column:span 3;
    grid-row:span 9;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.amenitiesButton2 {
    grid-column: span 3;
    grid-row: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.amenitiesButton3 {
    grid-column: span 3;
    grid-row: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.amenitiesButton4 {
    grid-column: span 3;
    grid-row: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.amenitiesButton5 {
    grid-column: span 3;
    grid-row: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.amenitiesWords {
    grid-column: span 3;
    grid-row: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    text-align:center;
}
.reviews {
    grid-column: span 9;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 3%;
}

.slideshow-container {
    width: 400%; /* the entire "stage" */
    font-size: 0;
    transition: 5s ease;
    height: 350px;
    display:flex;
    flex-flow:row;
    grid-column:span 9;

}

    .slideshow-container:hover {
        animation-play-state: paused;
    }

.slideshow { /* the visible "stage" */
    width: 100%;
    margin: 1rem auto -1rem;
    overflow: hidden;
    height: 350px;
    grid-row: span 2;
    grid-column: span 9;
}

.review {
    width: 100%;
    height: auto;
    display:inline-block;
    font-size:50px;
    grid-row:span 2;
    grid-column:span 9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.slide {
    animation: slide 20s ease infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    12.5% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    37.5% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    62.5% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    87.5% {
        transform: translateX(-75%);
    }

    99% {
        transform: translateX(-75%);
    }
    100%{
        transform:translateX(0%)
    }
    }
.contact {
    grid-column: span 9;
    grid-row: 74/span 3;
    display: flex;
    justify-content: center;
    align-items:center;
    align-items: center;
    flex-flow: column;
}
.contactInfo{
    grid-row:78/span 3;
    grid-column:2/span 3;
    display:flex;
    flex-flow:column;
}
.contactInfo .noMargins{
    margin:3px;
}
.form{
    grid-row:78/span 5;
    grid-column:6/span 3;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    flex-wrap:wrap;
}
.form input{
    max-height:20px;
}

.comment{
    height:150px;
    width:100%;
}

.bottom {
    grid-column: span 9;
    grid-row: 85/span 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

